[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
reader = {extras = ["search"], version = "*"}
loguru = "*"
python-telegram-bot = "*"

[requires]
python_version = "3.9"

[pipenv]
allow_prereleases = true
